"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  "exception-reporting":
    userId: "69da41b0-5168-4744-836b-afb8e367400d"
  "one-dark-ui": {}
  welcome:
    showOnStartup: false
