'.platform-win32, .platform-linux':
    'ctrl-p': 'tree-view:toggle'

'.workspace':
    'ctrl-shift-u': 'github:fetch'
    'ctrl-g': 'github:toggle-git-tab'
    'alt-g': 'github:toggle-git-tab'

'atom-workspace atom-text-editor:not([mini])':
    'ctrl-:': 'editor:toggle-line-comments'
    'ctrl-shift-up': 'editor:move-line-up'
    'ctrl-shift-down': 'editor:move-line-down'

'atom-text-editor':
    'ctrl-alt-l': 'editor:auto-indent'
    'ctrl-shift-alt-c': 'editor:upper-case'
    'ctrl-alt-c': 'editor:lower-case'

'atom-text-editor:not([mini])':
    'ctrl-²': 'editor:delete-line'

'body':
    'ctrl-alt-s': 'application:show-settings'
    'ctrl-alt-w': 'pane:close-other-items'
    'ctrl-&': 'pane:show-item-1'
    'ctrl-é': 'pane:show-item-2'
    'ctrl-"': 'pane:show-item-3'

# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms.
